.navbarContainer {
  display: flex;
  justify-content: space-evenly;
}

.navbarButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbarButton {
  /* Typography */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  /* Styles */
  border-radius: 32px;
  border: 1px solid var(--pink);
  background: var(--text-gradient-pink);
  padding: 6px 20px 6px 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Banner */

.bannerTitle {
  color: var(--banner-pink);
  text-align: center;
  text-shadow: 2px 2px 2px var(--banner-yellow);

  /* font-family: Routhem; */
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 129px;
  transition: transform 0.3s ease-in-out;
}

.bannerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.bannerLine {
  width: 150px;
  height: 10px;
  background: var(--Gold);
  border-radius: 20px;
}

.viewAllbutton {
  /* Typography */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-content: center;
  /* Styles */
  border-radius: 32px;
  border: 5px solid var(--pink);
  background: transparent;
  color: var(--white);
  padding: 10px 40px;
}

.viewAllbutton:hover {
  background: var(--text-gradient-pink);
}

.arrow {
  transition: transform 0.5s ease;
}

.viewAllbutton:hover .arrow {
  transform: translateX(-800%);
}
/* Products */

.productsContainer {
  text-align: center;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 20px;
  margin: 2% 8% 2% 8%;
  text-align: center;
}

.productCard {
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.productCardHeader {
  display: flex;
  justify-content: space-between;
}

.productCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.productImage {
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}
.productImage:hover {
  transform: scale(1.5) translateY(60%);
}
.productDetails {
  transition: opacity 0.3s ease-in-out;
}
.productImage:hover ~ a,
.productImage:hover ~ div {
  opacity: 0;
}

.goldenChip {
  /* Typography */
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Styles */
  background: var(--Gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pinkButton {
  background: var(--text-gradient-pink);
  width: 200px;
  cursor: pointer;
  height: 50px;
  flex-shrink: 0;
  font-size: x-large;
  border: none;
  border-radius: 50px;
  font-weight: 800;
  font-family: Poppins;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.arrowBlack {
  transition: transform 0.5s ease;
}

.pinkButtonText {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.pinkButton:hover .arrowBlack {
  transform: translateX(-300%);
}

.pinkButton:hover .pinkButtonText {
  opacity: 0;
}
/* Footer */

.footerContainer {
  background-image: url("/assets/FooterBG.svg");
  height: 55vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding-left: 120px;
  align-items: end;
  padding-bottom: 10px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footerContentHeader {
  background: var(--text-gradient-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footerContent {
  width: 50%;
}

.footerSection ul {
  list-style-type: none;
}

.footerSection ul li {
  margin-bottom: 10px;
}

.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    height: 80vh;
    width: 100vw;

    padding-left: 120px;

    padding-bottom: 10px;
  }
}
