.navbarContainer {
  display: flex;
  justify-content: space-evenly;
}

.navbarButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbarButton {
  /* Typography */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  /* Styles */
  border-radius: 32px;
  border: 1px solid var(--pink);
  background: var(--text-gradient-pink);
  padding: 6px 20px 6px 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Banner */

.bannerTitle {
  color: var(--banner-pink);
  text-align: center;
  text-shadow: 2px 2px 2px var(--banner-yellow);

  /* font-family: Routhem; */
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 129px;
  transition: transform 0.3s ease-in-out;
}

.bannerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.bannerLine {
  width: 150px;
  height: 10px;
  background: var(--Gold);
  border-radius: 20px;
}

.viewAllbutton {
  /* Typography */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;

  line-height: normal;
  cursor: pointer;
  /* Styles */
  border-radius: 32px;
  border: 5px solid var(--pink);
  background: transparent;
  color: var(--white);
  padding: 10px 40px;
}

.viewAllbutton:hover {
  background: var(--text-gradient-pink);
}

/* Products */

.productsContainer {
  text-align: center;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 20px;
  margin: 2% 8% 2% 8%;
  text-align: center;
}

.productCard {
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.productCardHeader {
  display: flex;
  justify-content: space-between;
}

.productCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.productImage {
  transition: transform 0.3s ease-in-out;
}
.productImage:hover {
  transform: scale(1.8);
}
.productDetails {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.productImage:hover .productDetails {
  opacity: 0;
}

.goldenChip {
  /* Typography */
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Styles */
  background: var(--Gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pinkButton {
  background: var(--text-gradient-pink);
  width: 200px;
  cursor: pointer;
  height: 50px;
  flex-shrink: 0;
  font-size: x-large;
  border: none;
  border-radius: 50px;
  font-weight: 800;
  font-family: Poppins;
}
